@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET 6</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        lets build something exciting!!
    </p>
        <p>Hello, world! The time on the server is @DateTime.Now</p>


</div>
